Source: lozzax-storage-server
Section: net
Priority: optional
Maintainer: loza  <loza@lozzax.xyz>
Build-Depends: debhelper (>= 11),
    cmake,
    g++-8,
    liboxenmq-dev (>= 1.2.6~),
    libcurl4-openssl-dev,
    libjemalloc-dev,
    libsodium-dev (>= 1.0.17),
    libssl-dev,
    libsqlite3-dev,
    curl,
    ca-certificates,
    libsystemd-dev,
    pkg-config
Standards-Version: 4.1.3
Homepage: https://lozzax.xyz

Package: lozzax-storage-server
Architecture: any
Depends: lozzaxd, ${shlibs:Depends}, ${misc:Depends}
Suggests: lozzax-service-node
Description: Lozzax storage server
 This package contains the Lozzax storage server component of a Lozzax service
 node.  This package requires a running lozzaxd configured as a service node; the
 default configuration is suitable for the lozzaxd configuration set up by the
 lozzax-service-node package, but it is possible to configure manually via the
 /etc/lozzax/storage.conf file.

Package: loki-storage-server
Architecture: all
Section: oldlibs
Depends: lozzax-storage-server, ${misc:Depends}
Description: transitional package
 This is a transitional package. It can safely be removed.
