[Unit]
Description=Lozzax storage server (testnet)
After=network-online.target
Wants=lozzax-testnet-node.service
After=lozzax-testnet-node.service

[Service]
User=_loki
Type=notify
WatchdogSec=5min
WorkingDirectory=/var/lib/lozzax
LimitNOFILE=16384
Restart=always
RestartSec=5s
ExecStart=/usr/bin/lozzax-storage --config-file /etc/lozzax/storage-testnet.conf

[Install]
WantedBy=multi-user.target
